* {
	margin: 0;
	border: none;
	padding: 0;
	outline: none;
}
body{
	font-family: 'Verdana', sans-serif;
}
a{
	color: inherit;/*pega a cor do pai*/
	text-decoration: none;
}
ul, li, ol{
	list-style: none;
}
textarea{
	font-family: inherit;
}